<div class="container">

  <div>
	  <h1 class="title-text">Chat</h1>
  </div>

  <div class="chat-container">
    <p class="chat-message"></p>
  </div>

  <div class="input-container">
    <input type="text" class="input-text">
  </div>
  
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>