<div id="chatContainer">
    <div id="chatWindow">
        <div id="output"></div>
        <div id="actions"></div>
    </div>
    <input type="text" id="userName" placeholder="Usuario">
    <input type="text" id="message" placeholder="Mensajes">
    <button class="btn btn-primary" id="send">Enviar</button>
</div>
