<div class="containerForm">
  <h3>Bienvenido</h3>

  <a href="/api/login"><button class="btn btn-primary">Entrar</button></a><br />
  <a href="/api/registro"><button class="btn btn-info">Registrarse</button></a>

  <p>Si es tu primera vez, registrate</p>
</div>
