<div class="products-container">
	<h1 class="products-title">Login</h1>

  <div>
    <p>Dont have a user?</p>
    <a href="/register">Register here</a>
  </div>

<div>
  <form id="loginForm">

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <input type="submit" value="Send">
  </form>
</div>
	
</div>

<script src="/js/login.js"></script>