<div>
  <h1 class="tituloHome">Productos</h1>
  <a
    href="http://localhost:8080/api/viewProducts/cart"
    class="btn btn-primary"
    id="linkCarrito"
    role="button"
  >Carrito</a>
</div>

<div class="containerCard" id="containerCards"></div>

<div class="containerBtn">
  <button class="btn btn-primary" id="btnAnterior">Pagina Anterior</button>
  <h5>Pagina <span id="pag"></span></h5>
  <button class="btn btn-primary" id="btnSiguiente">Siguiente Pagina</button>
</div>
