<div class="real-time-container">
	<h1 class="real-time-title">Products</h1>
	<ul class="real-time-list">
		{{!-- Dentro de esta lista se actualizan los productos en tiempo real --}}
	</ul>
</div>
<script src="./socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>