<div class="products-container">
	<h1 class="products-title">Register</h1>

    <div>
    <p>Have a user?</p>
    <a href="/login">Login here</a>
  </div>

<div>
  <form id="registerForm">

    <label>First name</label>
    <input type="text" name="first_name" required>

    <label>Last name</label>
    <input type="text" name="last_name" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <label>Password</label>
    <input type="password" name="password" required>

    <input type="submit" value="Send">
  </form>
</div>

</div>

<script src="/js/register.js"></script>